@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    background-image: url(https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80);
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  
.container {
    display: flex;
    width: 90vw;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 60px;
    color: #fff;
    cursor: pointer;
    flex: 0.7;
    margin: 10px;
    position: relative;
    transition: all 700ms ease-in;
}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel p{
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px){
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(6),
    .panel:nth-of-type(7){
        display: none;
    }
}